In [1]:
import pandas as pd

In [2]:
driver_df = pd.read_csv("C:/Users/seono/hackerthon_Baekkyung/driver_info.csv")
report_df = pd.read_csv("C:/Users/seono/hackerthon_Baekkyung/abnormal_report.csv")

In [3]:
data = pd.merge(left = driver_df , right = report_df, how = "left", on = "id")
data.head()

,id,car_number,car_model,driver_name,abnormal,type,year,month,date,time
0,1,11가1234,Titan,김철수,0.0,0.0,2024.0,10.0,1.0,17:15:29
1,1,11가1234,Titan,김철수,0.0,0.0,2024.0,10.0,2.0,11:40:44
2,1,11가1234,Titan,김철수,1.0,3.0,2024.0,10.0,3.0,17:48:18
3,1,11가1234,Titan,김철수,1.0,0.0,2024.0,10.0,4.0,10:21:35
4,1,11가1234,Titan,김철수,1.0,3.0,2024.0,10.0,5.0,13:58:50

In [4]:
data.to_csv("C:/Users/seono/hackerthon_Baekkyung/data.csv")